.mainText {
  font-size: 150px;
  font-weight: 800;
  margin-bottom: -70px;
  text-align: center;
}

.lastMainText {
  font-size: 150px;
  font-weight: 800;
  text-align: center;
}

.text {
  color: #fff;
}
